# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# Jupyter
.ipynb_checkpoints/

# Data (large files)
data/raw/*
data/processed/*
results/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!results/.gitkeep

# VS Code
.vscode/

# Virtual env
robotics-env/
